@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  height: 100%;
  widows: 100%;
  font-family: 'Poppins',sans-serif;
  color: #222;
  position: relative;
}
body{
  font-family: 'Dosis', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
}
.border{
  border-bottom: 1px solid rgba(187, 188, 196, 0.31);
  width: 50%;
  margin: 50px auto;
}
.navcolor{
  background: #fff;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
.nav-item a{
  color: black;
  font-size: 12px;
}
.top{
  position: relative;
  top: -60px;;
}
.top img{
  width: 100%;
  height: 100%;
}
.src{
  display: none;
}
.top-description{
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
  position: absolute;
  top: 54%;
left: 50%;
-webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
}
.top-description p{
  color:black;
}
.name{
  font-size: 30px;
  color:white !important;
}
@media screen and (max-width: 480px), (max-width: 800px){
  .navcolor{
    background: none;
    opacity: 0.8;
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 2;
    width: 100%;
  }
  .navbar-expand-md>.container, .navbar-expand-md>.container-fluid{
    position: relative;
  }
  .navcolor button{
    background: white;
    opacity: 0.7;
    position:fixed;
    top: 0;
    left: 10px;
  }
  .navbar-collapse{
    background: white;
    position: absolute;
    top:50px;
    width: 80%;
  }
  .top h1{
    font-size: 30px;
  }
  .top button{
    font-size: 10px;
  }
  .top-description{
    top:60%;
  }
  .top-description p{
    font-size: 14px;
  }
  .name{
    font-size: 20px !important;
  }
  .about img{
    width: 50%;
    border-radius: 50%;
  }
  .about{
    text-align: center;
    margin: 0 auto;
    position: relative;
    right: 36px;
  }
  .aboutdes{
    margin-top: 20px;
    width: 100%;

  }
  .src{
    display: block;
  }
  .srcc{
    display: none;
  }
 }
 .about img{
  margin:0 auto;
  display: block;
  }
  .about h2{
    margin-bottom: 20px;
  }
  .aboutdes a{
    margin: 10px;
  }
  .carousel-caption{
    position: absolute;
    top:40%;
  }

  .skills{
    margin-top: 100px;
    color:white;
    position: relative;
  }
  .skillp h2{
    text-align: center;
    margin-bottom: 60px;
    padding-top: 40px;
  }
  .html{
    text-align: center;
  }
  .fa-code{
    color: red;
    font-size: 70px;
    margin: 30px 0;
  }
  .fa-php{
    color: blue;
    font-size: 70px;
    margin: 30px 0;
  }
  .fa-js{
    color: yellow;
    font-size: 70px;
    margin: 30px 0;
  }
  .fa-wordpress{
    color: black;
    font-size: 70px;
    margin: 30px 0;
  }
  .service h2{
    text-align: center;
    margin-bottom: 60px;
    padding-top: 50px;
  }
  
  .lp img{
    display: block;
    margin: 0 auto;
    margin-right: 0;
  }
  .worktitle{
    font-size: 25px;
    font-weight: 500;
    border-bottom: 1px solid rgba(156, 166, 160, 0.48);
    border-bottom-width: thin;
  }
  .price{
    color: rgba(218, 69, 43, 0.77);
    font-weight: 600;
  }
  @media screen and (max-width: 480px), (max-width: 800px) {
    .services p{
      text-align: center;
    }
    .o2{
      order: 1;
    }
    .a{
      z-index: 0;
    }
    .o1{
      order: 2;
    }
    .services img{
      margin: 0 auto;
      display: block;
      margin-bottom: 20px;
      width: 100%;
    }
  }
  .works{
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .works h2{
    padding-top: 40px;
  }
  .isara{
    margin-top: 30px;
  }
  .works p{
    margin-bottom: 40px;
  }

  .sample3 {
    width:		100%;
    height:			100%;
    overflow:		hidden;
    position:		relative;
    padding-bottom: 30px;
  }
  .sample3 .caption {
    font-size:		130%;
    color:			#fff;
    padding-top:		80px;
    padding-left:		0px;
    text-align: left;
  }
  .sample3 .mask {
    width:			80%;
    height: 100%;
    position:		absolute;
    top:			0;
    left:			45px;
    opacity:		0;	/* マスクを表示しない */
    background-color:	rgba(0,0,0,0.4);
    -webkit-transition:	all 0.6s ease;
    transition:		all 0.6s ease;
  }
  .sample3:hover .mask {
    opacity:		1;	/* マスクを表示する */
    padding-left:		90px;	/* 右にずらす */
  }
  @media screen and (max-width: 480px), (max-width: 800px){
    .sample3:hover .mask{
      top: -30px;
      height: 100%;
      left:37px;
    }
    .sample3 .caption {
      font-size: 50%;
      color: #fff;
      padding-top: 50px;
      padding-left: 0px;
      text-align: left;
  }
    .workr div{
      margin: 10px 0;
    }
    .works{
      padding-bottom: 0;
    }
    .contact a{
      font-size: 40px;
      margin: 10px;
    }
  }
  .mask span{
    font-size: 15px;
    border-bottom: 3px solid rgba(218, 227, 218, 0.35);
  }
  
  .contact{
    text-align: center;
  
    background-color: rgba(93, 133, 201, 0.25);
    padding-bottom: 40px;
  }
  .contact h2{
    padding-top: 40px;
  }
  .contact a{
    font-size: 70px;
    margin: 30px;
  }
  
  .form input,button{
    display: block;
    margin: 20px auto;
  }
  .fa-facebook-square{
    /* font-size: 70px;
    margin: 30px; */
    color: rgb(61, 77, 148);
  }
  .fa-twitter{
    /* font-size: 70px;
    margin:  30px; */
    color: rgb(108, 163, 246)
  }
  .fa-instagram{
    /* font-size: 70px;
    margin: 30px; */
    color: rgb(201, 58, 187)
  }
  .form input,textarea{
    width: 350px;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
  }
  .form input{
    height: 40px;
  }
  .form button{
    width: 100px;
    margin-top: 50px;
  }
  footer {
    text-align: center;
    height: 80px;
  }
  footer p {
    padding-top: 30px;
    font-size: 10px;
  }

  /* ふわっと表示アニメーション(css)*/
  /* "fuwatto-wrap"というクラスの小要素で"fuwatto"が付くクラスの付いた要素を少し下にずらし透明にする。
  そして、その透明な要素に"f-act"というクラスを付与するとコンテンツが表示される仕組み*/
  /*transitionで動きの設定を変える*/
  .fuwatto-wrap [class*='fuwatto'] {
    opacity: 0;
    transform: translate(0, 10px);
    transition: all 0.9s;
  }
  .fuwatto-wrap [class*='fuwatto'].f-act {
    opacity: 1;
    transform: translate(0, 0);
  }
 /* parallax */ 
 .parallax-window {
  min-height: 800px;
  background: transparent;
 }
 .parallax-window2 {
  min-height: 430px;
  background: transparent;
 }
 .parallax-window3 {
  min-height: 500px;
  background: transparent;
 }

 iframe{
  background: rgb(108, 163, 246);
}
@media screen and (max-width: 480px), (max-width: 800px) {
  .parallax-window {
   min-height: 450px;
   background: transparent;
  }
  .parallax-window2 {
   min-height: 300px;
   background: transparent;
  }
  .parallax-window3 {
   min-height: 500px;
   background: transparent;
  }
}

